body {
    margin: 0px;
    display: grid;
    place-items: center;
    text-align: center;
    /* background: yellow; */
}

#container {
    background: #F4F4F4;
    margin: 0;
    width: 550px;
    height: 800px;

}

#conversion {
    /* light-mode */
    width: 550px;
    margin: 0px;
    background: #F4F4F4;
}


.results {
    /* Grid Lists/Card */
    width: 500px;
    height: 108.57px;
    margin: 24px auto;
    /* white */
    padding-top: 15px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    text-align: center;

}

#result-mass {
    margin-bottom: 36px;
    /* border: 1px solid grey; */
}

#title {
    /* background */
    width: 100%;
    height: 285px;
    margin-bottom: 36px;
    background: #6943FF;

    /* Heading */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */
    letter-spacing: -0.03em;
    padding-top: 3px;
    padding-bottom: 36px;
    color: #FFFFFF;
}

input {
    /* Rectangle 14 */
    box-sizing: border-box;

    width: 117px;
    height: 83px;
    margin-top: 30px;
    margin-bottom: 25px;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    /* or 42% */
    text-align: center;
    color: #FFFFFF;
}

button {
    /* Button */
    width: 117px;
    height: 42px;
    /* left: 217px; */
    /* top: 209px; */
    background: #FFFFFF;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    /* text-base/leading-6/font-medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #3D3D3D;
}

h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    color: #5A537B;
    padding: 0px;
    margin: 16px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    color: #353535;
    padding: 0px;
    margin: 5px;
}